:root {
  --white: #fff;
  --primary-clr: #22181c;
  --darkGrey: #333;
  --grey: #999;
}

::-webkit-scrollbar {
  background-color: var(--grey);
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: var(--primary-clr);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkGrey);
  padding: 0 1em;
}

#form {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 0 1em;
  overflow: hidden;
}

#form header {
  font-size: 2rem;
  margin-top: 0.5em;
  font-weight: 700;
  letter-spacing: -1px;
  font-style: italic;
}

#form p {
  font-size: 0.9rem;
  margin-bottom: .8em;
  letter-spacing: 1px;
}

#form #msg {
  font-size: 0.7rem;
  transition: ease-out;
  color: hsl(180, 100%, 25%);
  animation: fade-out 1s ease-out 5s forwards;
  position: relative;
  left: 0;
}

.not-supported {
  color: rgb(202, 59, 59);
}

@keyframes fade-out {
  100% {
    left: 100vw;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

#form :where(textarea, select, button) {
  outline: none;
  width: 100%;
}

.input-container textarea {
  resize: none;
  min-height: 120px;
  padding: 0.5em;
  font-size: 0.9rem;
  border: 1px solid var(--grey);
}

.input-container select {
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid var(--grey);
  font-size: 0.9rem;
  background-color: transparent;
}

#form button {
  padding: 1.5em 1em;
  margin-bottom: 2em;
  background-color: var(--primary-clr);
  color: var(--white);
  border: 2px solid var(--primary-clr);
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

#form button:hover {
  background-color: var(--white);
  color: var(--primary-clr);
  transition: 200ms ease-in-out;
  border: 2px solid var(--primary-clr);
}

@media screen and (max-width: 320px) {
  #form {
    width: 280px;
  }
}
